/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 may. 2026, 8:22:28 p. m.
    Author     : jharleth
*/
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0b0b0b;
    color: #ffffff;
}

/* Navegación */
.header-principal {
    background-color: #000000;
    padding: 15px 50px;

    border-bottom: 1px solid #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-nav {
    height: 110px;
}

.menu-nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.menu-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-nav a:hover {
    color: #00ff88; /* Verde deportivo llamativo para los hovers */
}

.menu-nav .btn-login {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 18px;
    border-radius: 5px;
    font-weight: bold;
}

.menu-nav .btn-login:hover {
    background-color: #00ff88;
    color: #000;
}

/*menú responsive*/
.menu-toggle{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}



/* Iconos del menú */
.icono-nav {
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    text-decoration: none;
    transition: 0.3s;
}

.icono-nav:hover {
    color: #00ff88;
}

/*menú responsive*/
@media (max-width: 768px) {
    /* Mostramos el botón de tres líneas */
    .menu-toggle {
        display: block;
    }

    /* Convertimos el menú en un panel desplegable hacia abajo */
    .menu-nav {
        display: none; /* Oculto por defecto */
        position: absolute;
        top: 100%; /* Aparece justo debajo del header */
        left: 0;
        width: 100%;
        background-color: #000;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    }

    /* Cuando se activa con JavaScript, se muestra */
    .menu-nav.active {
        display: block;
    }

    /* Las opciones se alinean verticalmente */
    .menu-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}


.hero-section {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../imagenes/img6.png') no-repeat center center/cover;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin-top: 140px;
}

.contenido-hero h1 {

    font-size: 70px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.contenido-hero p {
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
}

.contenido-hero h2{
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    padding: 30px
}

.btn-principal, .btn-secundario {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin: 5px;
    transition: 0.3s;
}

.btn-principal {
    background-color: #00ff88;
    color: #000;
}

.btn-secundario {
    border: 2px solid #fff;
    color: #fff;
}

.btn-principal:hover {
    background-color: #fff;
}
.btn-secundario:hover {
    background-color: #fff;
    color: #000;
}


.categorias-destacadas {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.categorias-destacadas h2 {
    font-family: "Public Sans", sans-serif;
    margin-bottom: 40px;
    font-size: 50px;
    color: #000000;
}

.grid-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
}



.tarjeta-categoria img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.btn-enlace {
    display: inline-block;
    margin-top: 10px;
    color: #00ff88;
    text-decoration: none;
}

/* Footer */
.footer-principal {
    background-color: #000;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #222;
    font-size: 14px;
    color: #666;
}
.enlaces-footer a {
    color: #999;
    text-decoration: none;
}


.tarjeta-categoria button{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    background:#2ecc93;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.tarjeta-categoria button:hover{
    background: #3AB397;
    transform: scale(1.03);
}

.btn-enlace{
    display: inline-block;
    margin-top: 5px;
    color:#3AB397;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-enlace:hover{
    color: white;
}

.tarjeta-categoria h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.tarjeta-categoria h3{
    color:  white;
    font-size: 26px;
    margin: 10px 0;
}
.tarjeta-categoria{
    background: #111;
    width: 260px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    border: 1px solid #333;
}

.tarjeta-categoria:hover{
    transform: translateY(-10px);

    box-shadow: 0px 10px 40px rgba(0,255,136,0.7);
}


.tarjeta-categoria img{
    width: 100%;
    height: 190px;
    object-fit: contain;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}

.tarjeta-categoria:hover{
    transform: scale(1.1,1.1);
}

@media (max-width:1400px){
    body{
        background-color:#8FECCF;
    }
    .tarjeta-categoria img {
        width: 220px;
        height: 220px;
        border-radius: 10px;
    }
}

@media (min-width:1000px){
    body{
        background-color:#B8E1D4;
    }
}

/* modificaciones del video como fondo del cabezal*/

.hero-section {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* VIDEO COMO FONDO */
.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Oscurecer el video */
.hero-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index: 0;
}

/*carrusel*/

.carrusel{
    margin: 10px auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 1em;
    transform: translateY(-10px);
    background-color: whitesmoke;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5), 0px 10px 20px rgba(0,255,136,0.3);
}
.carrusel:hover{
    transform: scale(1.1,1.1);
}

.encabezado-descuento{
    color: whitesmoke;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    background-color: #1FC288 /*58EDB0 /*3CDE9B/*71DE37,#A4DE37*/
}
.carrusel::-webkit-scrollbar{
    display: none
}
.carrusel-descuentos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 5px 0;
    flex-shrink: 0;
    width: max-content;
    white-space: nowrap;
    animation: animacion 20s infinite linear;
}

.product{
    margin: 0;
    width: 180px;
    flex: 0 0 auto;
    height: 300px;
    padding: 1em;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

.product:hover{
    background-color: #8AE3A2;
    transform: scale(1.1,1.1);
    box-shadow:
        inset 0 0 20px rgba(68, 212, 150, 0.5), /* Brillo interno */
        0 0 20px rgba(51, 255, 153, 0.8);       /* Brillo externo */

}
.product img{
    width: 100%;
    height: 200px;
    place-self: center;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}
.product .boton-comprar{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.product .boton-comprar:hover{
    background-color: #1FC288;
    color: white
}

@keyframes animacion{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
/*colocarcion del botton para el audio*/

.contenido-hero {
    position: relative;
    z-index: 1;
}

.btn-audio-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0,0,0,0.6);
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
}
.btn-audio-icon ion-icon {
    font-size: 28px;
    color: #00ff88;
}

.btn-audio-icon:hover {
    background: #00ff88;
}

.btn-audio-icon:hover ion-icon {
    color: #000;
}

/* Agregar iconos de redes sociales*/
.footer-principal {
    background-color: #000;
    padding: 50px 20px 20px;
    color: #ccc;
}

.contenido-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col h3,
.footer-col h4 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-col a {
    display: block;
    color: #999;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.3s;
}

/*color para cada icono de red social*/
/* Facebook */
.redes-sociales a:nth-child(1):hover {
    color: #1877f2;
}

/* Instagram */
.redes-sociales a:nth-child(2):hover {
    color: #e4405f;
}

/* TikTok */
.redes-sociales a:nth-child(3):hover {
    color: #ffffff;
}

/* Redes sociales */
.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
    font-size: 26px;
    color: #999;
    transition: 0.3s;
}

.redes-sociales a:hover {
    color: #00ff88;
    transform: scale(1.2);
}

/* Línea final */
.copy {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}

/*busqueda */
.contenedor-busqueda{
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 15px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
}

#buscador{
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
}

.btn-buscar{
    border: none;
    background: white;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 22px;
}

@media (max-width: 300px){
    .contenedor-busqueda{
        max-width: 40%;
    }
}

#sugerencias{

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:white;

    border:1px solid #ddd;

    border-top:none;

    border-radius:0 0 12px 12px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    z-index:999;

    display:none;

    max-height:250px;

    overflow-y:auto;

}

.sugerencia{

    padding:12px 15px;

    cursor:pointer;

    transition:.25s;

}

.sugerencia:hover{

    background:#f5f5f5;

}

/*corazon*/
.favorito-nav{
    position: relative;
}

#contador-favoritos{
    position:absolute;
    top:-8px;
    right:-10px;

    background:#ff1d25;
    color:white;

    min-width:18px;
    height:18px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:12px;
    font-weight:bold;

    border-radius:50%;
    padding:2px 6px;
}

/*corazon dentro de la imagen*/
.contenedor-imagen{
    position: relative;
    overflow: hidden;
}

.favorito{
    position:absolute;
    top:7px;
    right:5px;

    width:35px;
    height:35px;

    display:flex;
    justify-content: center;
    align-items:center;

    cursor:pointer;

    z-index:10;
}

.favorito i{
    font-size:28px;
    color:black;
    transition:.3s;
}

.favorito:hover i{
    transform: scale(1.15);
}

/*dentro de la pagina del corazon*/
.card-favorito{

    width:900px;

    background:white;

    margin:20px auto;

    border-radius:15px;

    display:flex;

    align-items:center;

    padding:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.card-favorito img{

    width:150px;

    height:150px;

    object-fit:cover;

    border-radius:10px;

}

.info-favorito{

    margin-left:30px;

    flex:1;

}

.info-favorito h3{

    font-size:30px;

}

.info-favorito h2{
    color:#2df58a;

    margin:15px 0;

}

.info-favorito button{

    background:#2df58a;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

}

/* ========= MENÚ DE USUARIO ========= */

.usuario-menu{

    position:relative;

}

#btnUsuario{

    display:flex;
    align-items:center;
    gap:8px;

    text-decoration:none;
    color:white;
    font-weight:600;

}

#nombreUsuario{

    font-size:14px;

}

.menu-usuario{

    position:absolute;

    top:45px;

    right:0;

    width:180px;

    background:white;

    border-radius:10px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

    display:none;

    overflow:hidden;

    z-index:999;

}

.menu-usuario a{

    display:block;

    padding:12px 15px;

    color:#333;

    text-decoration:none;

    transition:.3s;

}

.menu-usuario a:hover{

    background:#f5f5f5;

}